.hero-find-btn{

    border: 2px solid var(--primary-color);
}
.hero-find-btn:hover{
    background-color:transparent;   
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}